input#filter {
    padding-right: 55px;
}
.form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
    transform: translate(-15px, 15px);
}

.custom-width{
    max-width: 1720px;
}

#scrollToTopBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
  }
  #scrollToTopBtn:hover{
    background-color: #555;
  }
  #scrollToTopBtn::after{
    content: '\25B2';
  }